
body {

    font-family: Arial, sans-serif;
    background: #f7f7f7e1;
    margin: 0;
    padding: 0;
    
    
}
div{   


}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    background: #fff;
    padding: 40px 0;
}

header h1 {
    font-size: 28px;
    letter-spacing: 4px;
    font-weight: 300;
    margin-bottom: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 25px;
}

nav ul li {
    display: inline-block;
    margin: 15px;
}

nav ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    letter-spacing: 1px;
}

.images img {
    width: 30%;
    margin: 10px;
    border: 1px solid #cc
